- name: Add pkgs.k8s.io apt repo
  deb822_repository:
    name: kubernetes
    types: deb
    uris: https://pkgs.k8s.io/core:/stable:/v1.35/deb/
    suites: /
    signed_by: https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key

- name: Install packages for k8s
  apt:
    name:
      - kubelet=1.35.1-1.1
      - kubeadm=1.35.1-1.1
      - kubectl=1.35.1-1.1

- name: Pin k8s packages
  ansible.builtin.dpkg_selections:
    name: "{{item}}"
    selection: hold
  with_items:
    - kubelet
    - kubeadm
    - kubectl

- name: Install additional packages
  apt:
    name:
      # Monitoring
      - prometheus-node-exporter
      # Longhorn
      - open-iscsi
      - nfs-common
      - dmsetup
