- name: Add pkgs.k8s.io apt repo
  deb822_repository:
    name: kubernetes
    types: deb
    uris: https://pkgs.k8s.io/core:/stable:/v1.34/deb/
    suites: '{{ ansible_facts["distribution_release"] }}'
    components: stable
    signed_by: https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key

- name: Install packages for k8s
  apt:
    name:
      - kubelet=1.34.2-1.1
      - kubeadm=1.34.2-1.1
      - kubectl=1.34.2-1.1

- name: Pin k8s packages
  ansible.builtin.dpkg_selections:
    name: "{{item}}"
    selection: hold
  with_items:
    - kubelet
    - kubeadm
    - kubectl

- name: Install packages for longhorn
  apt:
    name:
      - open-iscsi
      - nfs-common
      - dmsetup
