- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg2
      - python3-debian

- name: Add download.docker.com apt repo
  deb822_repository:
    name: docker
    types: deb
    uris: https://download.docker.com/linux/debian
    suites: '{{ ansible_facts["distribution_release"] }}'
    components: stable
    signed_by: https://download.docker.com/linux/debian/gpg

- name: Install containerd.io package
  apt:
    name: containerd.io=2.1.5-1~debian.13~trixie
    state: present

- name: Pin containerd.io package
  dpkg_selections:
    name: containerd.io
    selection: hold

- name: Create config dir
  ansible.builtin.file:
    path: /etc/containerd
    state: directory

- name: Update config file
  ansible.builtin.copy:
    src: config.toml
    dest: /etc/containerd/config.toml
  register: containerd_config

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
  when: containerd_config.changed

- name: Host entry to use local ip for registry calls
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: 127.0.0.1 registry.home.klaus-meyer.net

- name: Point crictl to containerd socket
  ansible.builtin.lineinfile:
    path: /etc/crictl.yaml
    regexp: "^runtime-endpoint:"
    line: "runtime-endpoint: unix:///run/containerd/containerd.sock"
    create: true
